# django backend
SECRET_KEY=secret-string
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 djangoapp
DEBUG=0
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=django_dev
SQL_USER=admin_django
SQL_PASSWORD=123456
SQL_HOST=dbpg
SQL_PORT=5432
DATABASE=postgres

# postgresql
POSTGRES_USER=admin_django
POSTGRES_PASSWORD=123456
POSTGRES_DB=django_dev


# React with docker
REACT_APP_API_URL=localhost
# local
REACT_APP_API_URL=localhost:8000
# server
REACT_APP_API_URL=5.159.103.4